@font-face {
  font-family: roboto;
  src: url("lightFont.ttf");
}

@font-face {
  font-family: "roboto mono";
  src: url("rbLight.ttf");
}

html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
  display: flex;

  background-color: #BEF3E4;
  background-size: auto;

  justify-content: center;
  align-items: center;

  font-family: roboto;

  /* Background */
  background-image: url("../images/background.png");
  fill: auto;
}

canvas {
  margin: auto;
  border-radius: 5px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.sliders input {
  margin: 7px;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;  
  background: #c2c2c2;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.sliders input::-webkit-slider-thumb:hover {
  background:  #327034;
}

.sliders input::-moz-range-thumb:hover {
  background:  #327034;
}

.sliders input::-webkit-slider-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 17px;
  border-radius: 5%; 
  background: #4CAF50;
  cursor: pointer;
  transition: .2s;
}

.sliders input::-moz-range-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 17px;
  border-radius: 5%;
  background: #4CAF50;
  cursor: pointer;
  transition: .2s;
}

.sliders pre {
  font-size: 14px;
  font-family: roboto mono;
  margin: 0px;
  position: absolute;
}

#scale-title {
  left: 180px;
  top: 10px
}

#size-title {
  left: 180px;
  top: 30px;
}