@font-face {
  font-family: roboto;
  src: url("../fonts/lightFont.ttf");
}

@font-face {
  font-family: "roboto mono";
  src: url("../fonts/rbLight.ttf");
}

* {
  /* Use always the default cursor,
    unless otherwise instructed */
  cursor: default;

  /* Disable text selection highlighting */
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  margin:0;
  padding:0;
  overflow: hidden;

  background-color: #BEF3E4;
  background-size: auto;

  font-family: roboto;

  /* Background */
  background-image: url("../images/background.png");
  fill: auto;
}

canvas {
  margin: auto;
  border-radius: 5px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.sliders {
  position: fixed;
  z-index: 2;
}

.hide-sliders pre {
  margin: 0px;
  font-size: 14px;
  font-family: "roboto mono";
  position: fixed;
  z-index: 3;
}

#hide-title {
  left: 180px;
  top: 12px;
}

.hide-sliders img {
  /* Removing tap highlighting on mobile devices */
  -webkit-tap-highlight-color: transparent;

  width: 30px;
  margin-top: 5px;
  margin-left: 12px;

  opacity: 1;
  cursor: pointer;

  position: fixed;
  z-index: 2;

  transition: 0.1s ease-in-out;
}

.hide-sliders img:active {
  padding-left: 5px;
}

.display {
  position: fixed;
  z-index: 1;
}

.sliders input {
  margin-top: 30px;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;  
  background: #c2c2c2;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.sliders input::-webkit-slider-thumb:hover {
  background:  #327034;
}

.sliders input::-moz-range-thumb:hover {
  background:  #327034;
}

.sliders input::-webkit-slider-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 17px;
  border-radius: 5%; 
  background: #4CAF50;
  cursor: pointer;
  transition: .2s;
}

.sliders input::-moz-range-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 17px;
  border-radius: 5%;
  background: #4CAF50;
  cursor: pointer;
  transition: .2s;
}

.sliders pre {
  font-size: 14px;
  font-family: roboto mono;
  margin: 0px;
  position: absolute;
}

#scale-title {
  left: 180px;
  top: 33px
}

#size-title {
  left: 180px;
  top: 53px;
}
